{% extends 'base.html' %}
{% block title %}
Contacts
{% endblock %}
{% block body %}
    <main class="section">
        <div class="container">
                <h1 class="title-1">Contacts</h1>

                <ul class="content-list">
                    <li class="content-list__item">
                        <h2 class="title-2">Location</h2>
                        <p>Yerevan, Armenia</p>
                    </li>
                    <li class="content-list__item">
                        <h2 class="title-2">Telegram / WhatsApp</h2>
                        <p><a href="tel:+37477718626">+(374) 77-71-86-26</a></p>
                    </li>
                    <li class="content-list__item">
                        <h2 class="title-2">Email</h2>
                        <p><a href="#!">I19.Mkhitaryan.Narek@etud.ufar.am</a></p>
                    </li>
                </ul>

        </div>
    </main>
{% endblock %}
